autoflake==2.2.1
black==23.9.1
isort==5.12.0
mkdocs==1.5.3
mkdocs-autorefs==0.5.0
mkdocs-material==9.3.1
mkdocs-material-extensions==1.1.1
mkdocs-swagger-ui-tag==0.6.5
mkdocstrings==0.23.0
mkdocstrings-python==1.7.0
pytest==7.4.2
pytest-benchmark==4.0.0
pytest-cov==4.1.0
